@use '../abstracts/' as *;

.footer {
    padding-top: 8rem;

    @include tablet {
        @include flex(start, baseline, column, 6.4rem, nowrap);
    }

    @include desktop {
        padding-top: 28rem;
        @include flex(space-between, baseline, row, 6.4rem, nowrap);
    }
    &__logo {
        font-size: $font-size-xl;
    }
    &__heading {
        font-size: $font-size-lg;
    }
    &__mobile {
        padding-top: 8.5rem;
        @include flex(
            $flex-direction: column,
            $align-items: baseline,
            $gap: 7.1rem
        );
        width: 100%;
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }
    &__socials {
        @include flex($gap: 3.2rem);
    }
    &__socials-container {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 100%;
        @include flex;
        padding: 0;
        font-size: 1.5rem;
    }
    &__travlog {
        @include flex(
            $flex-direction: column,
            $align-items: baseline,
            $gap: 3.2rem
        );
    }
    &__heading-wrapper {
        @include flex(start, $gap: 1.6rem);
    }
    &__desc {
        font-size: $font-size-sm;
        @include tablet {
            font-size: $font-size-lg;
        }
        @include desktop {
            font-size: $font-size-lg;
        }
    }
    &__content {
        @include flex(
            $align-items: baseline,
            $flex-direction: column,
            $gap: 3.2rem
        );
    }
    &__accordian-wrapper {
        width: 100%;
        transition: 0.5s;
    }
    &__accordian {
        font-size: $font-size-lg;
        @include flex(space-between);
        padding: 0;
        width: 100%;

        &--active {
            color: $slate-blue;
        }
    }

    &__tablet {
        width: 100%;
        @include flex(space-between, baseline, row, 3.2rem, nowrap);
        display: none;
        @include tablet {
            display: flex;
        }
        @include desktop {
            display: flex;
            width: fit-content;
        }
    }

    &__column {
        @include flex(start, left, column, 3.2rem, nowrap);

        &-heading {
            font-size: $font-size-lg;
        }
    }
    &__list {
        @include flex(start, left, column, 3.2rem, nowrap);
        &-item {
            font-size: $font-size-md;
            color: $dark-grey;
            @include flex(start, baseline, row, 0.8rem, wrap);
        }
    }
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    &__list {
        padding-top: 2rem;
        width: 100%;
        @include flex(
            $align-items: baseline,
            $flex-direction: column,
            $gap: 2rem
        );
        font-size: $font-size-sm;
        &-item {
            width: 100%;
            border-bottom: $grey-border;
        }
    }
}
