@use '../abstracts/variables/' as *;
@use '../abstracts/mixins/' as *;

// Icomoon font styling
.icon-Vector::before {
    color: $slate-blue;
}

.icon-cross {
    color: $slate-blue;
}

.icon-Vector-9 {
    background: linear-gradient(to left, $slate-blue, $french-rose);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Mobile-first
.header {
    width: 100vw;
    position: fixed;
    z-index: $z-index + 10;
    backdrop-filter: blur(20px);
    background-color: transparent;
    padding: 3.9rem 2rem;
    @include flex(space-between, center);

    &__logo,
    &__hamburger {
        z-index: $z-index + 10; // 60

        @include flex(center, center);
        font-size: 4rem;
    }

    &__auth,
    &__placeholder {
        display: none;
    }

    // Auth buttons styling

    &__login {
        @include text($circular-md, $black, 1.4rem, $font-weight-700, 0);
        @include button($white, 10rem, none, 1.6rem 3.2rem);
    }

    &__signup {
        @include text($circular-md, $white, 1.4rem, $font-weight-700, 0);
        @include button($slate-blue, 10rem, none, 1.6rem 3.2rem);
    }

    &__nav-links {
        z-index: $z-index + 10;
        @include text(
            $circular-md,
            $midnight-express,
            1.4rem,
            $font-weight-400,
            0
        );
        position: absolute;
        width: 4rem;
        background-color: $white;
        box-shadow: 2px 2px 12px 2px $midnight-express;
        top: 10rem;
        @include flex(center, center);
        flex-direction: column;
        gap: 5rem;
        width: 50%;
        padding: 2rem 0;
        height: fit-content;
        right: 2rem;
        border-radius: 2rem;
    }

    &__nav-links {
        transition:
            transform 0.3s ease,
            opacity 0.3s ease;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;

        &--open {
            transform: translateX(0);
            opacity: 1;
            pointer-events: auto;
        }
    }
}

// Tablet
@include tablet {
    .header {
        padding: 3.2rem 6.4rem;

        // Display
        &__auth {
            display: block;
            @include flex(center, center);
            flex-wrap: nowrap;
            gap: 1rem;
        }

        // Flex ordering

        &__hamburger {
            order: 1;
        }

        &__logo {
            order: 2;
            align-self: center;
        }

        &__placeholder {
            display: block;
            height: 4rem;
            width: 4rem;
            order: 3;
        }

        &__auth {
            position: absolute;
            right: 3.2rem;
        }

        &__nav-links {
            z-index: $z-index + 10;
            position: absolute;
            width: 4rem;
            background-color: $white;
            box-shadow: 2px 2px 12px 2px $midnight-express;
            top: 10rem;
            @include flex(center, center);
            flex-direction: column;
            gap: 5rem;
            width: 35%;
            height: fit-content;
            left: 6.4rem;
            border-radius: 2rem;
        }
        &__nav-links {
            transition:
                transform 0.3s ease,
                opacity 0.3s ease;
            transform: translateX(-100%);
            opacity: 0;
            pointer-events: none;

            &--open {
                transform: translateX(0);
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .nav-links {
        &__login,
        &__signup {
            display: none;
        }
    }
}

// Desktop
@include desktop {
    .header {
        // Hide
        &__hamburger,
        &__placeholder {
            display: none;
        }

        // Show
        &__nav-links {
            padding: 0;
            opacity: 1;
            transition: none;
            transform: none;
            min-width: 48.2rem;
            position: relative;
            background-color: inherit;
            box-shadow: none;
            @include flex(space-between, center);
            height: 1.7rem;
            border-radius: 0;
            flex-direction: row;
            top: auto;
            left: auto;
            right: auto;
        }

        &__auth {
            @include flex(center, center);
            position: relative;
        }

        // Flex ordering
        &__logo {
            order: 1;
        }

        &__nav-links {
            order: 2;
        }

        &__auth {
            order: 3;
        }

        &__signup:hover {
            background-color: $french-rose;
            transition: 0.7s;
        }
    }
    .nav-links {
        &__login,
        &__signup {
            display: none;
        }
    }
}
