@use '../abstracts/mixins/' as *;
@use '../abstracts/variables/' as *;

.hero {
    padding-top: $header-h-mobile;
    @include flex($flex-direction: column, $gap: 3.2rem);
    @include tablet {
        gap: 8.5rem;
    }

    @include desktop {
        padding-top: $header-h-desktop;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__img {
            width: 77.2rem;
            height: 71.3rem;
        }
    }

    &__content {
        @include flex($flex-direction: column, $gap: 2.2rem);
        @include tablet {
            gap: 5rem;
        }

        @include desktop {
            width: 42rem;
            height: 57rem;

            @include flex(baseline, baseline, column, 4.3rem);
        }
    }

    &__explore-button {
        box-shadow: $box-shadow-hover-effect;
        font-size: 1.4rem;
    }

    &__heading {
        font-weight: 400;
        font-size: 4rem;
        padding: 0 2rem;
        @include desktop {
            font-size: 6.9rem;
        }
    }

    @include tablet {
        &__heading {
            font-size: 5.6rem;
            padding: 0 15rem;
        }
    }

    &__sub-heading {
        font-size: 1.6rem;
        @include tablet {
            font-size: 1.8rem;
            padding: 0 23rem;
        }
    }

    &__heading,
    &__sub-heading {
        text-align: center;
        line-height: normal;
        @include desktop {
            text-align: left;
            padding: 0;
        }
    }
}

.actions {
    width: 100%;
    @include flex($flex-direction: column, $gap: 2.4rem);
    &__get-started,
    &__watch-demo {
        width: 100%;
        font-size: 1.4rem;
    }

    &__watch-demo {
        border: 1px solid #eeeeee;
    }

    @include tablet {
        width: fit-content;
        @include flex;
        white-space: nowrap;
    }

    @include desktop {
        @include flex;
    }
}

.co-partners {
    padding-top: 5rem;
    width: 100%;
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 2rem;
    &__img {
        height: 2rem;
        width: fit-content;
    }

    @include tablet {
        padding: 14.4rem 20.4rem;
        width: 100%;
        @include flex(center, center);
        flex-wrap: wrap;
        gap: 2rem;
        &__img {
            height: 3rem;
            width: fit-content;
        }
    }

    @include desktop {
        padding: 20rem 20rem;
        width: 100%;
        @include flex;
        gap: 5rem;
        flex-wrap: wrap;
        img {
            height: 3.2rem;
            width: fit-content;
        }
    }
}
