@use '../abstracts/mixins/' as *;
@use '../abstracts/variables/' as *;

//icomoon styling
.icon-work-1 {
    color: $french-rose;
}

.icon-play-circle5-1 {
    font-size: 2.4rem;
}
.icon-play-circle5-1 {
    color: $slate-blue;
}

// Mobile
.hero {
    // padding-top: 12rem;
    padding: 14.6rem 1.2rem 0 1.2rem; //to make space for header (mobile)

    @include flex(center, center);
    flex-direction: column;
    gap: 3.2rem;

    &__content {
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    &__img {
        height: auto;
        width: 100%;
        min-height: 50%;
    }

    &__explore-btn {
        @include button($white, 10rem, none, 1.6rem 3.2rem);
        box-shadow:
            5px 5px 20px 1px $midnight-express,
            0 0 0 0 black;
    }

    &__heading {
        height: fit-content;
        padding-top: 1.6rem;
        @include text($circular-md, $black, 4rem, $font-weight-400, 0);
        text-overflow: ellipsis;
        max-height: 50rem;
        max-width: 100%;
    }

    &__heading span {
        color: $french-rose;
    }

    &__sub-heading {
        @include text($inter, $midnight-express, 1.6rem, $font-weight-400, 0);
        max-block-size: 20rem;
        overflow: hidden;
    }
    &__btns {
        padding-top: 2.4rem;
        @include flex(center, center);
        gap: 2.4rem;
        flex-direction: column;
    }

    &__triangles {
        position: absolute;
        top: 100rem;
        left: 1rem;
        display: none;
    }
}

.co-partners {
    width: 100%;
    @include flex(center, center);
    gap: 2.7rem;
    flex-wrap: wrap;
    padding: 6.4rem 1rem;
}

.actions {
    width: 100%;
    &__get-started {
        @include button($slate-blue, 10rem, none, 2.4rem 3.2rem);
        width: 100%;
        @include text($circular-md, #eeeeee, 1.4rem, $font-weight-400, 0);
        box-shadow: 10px 12px 35px 10px $midnight-express;
    }
    &__watch-demo {
        @include button($white, 10rem, none, 2.4rem 3.2rem);
        width: 100%;
    }
}

.watch-demo__text {
    @include text($circular-md, $black, 1.4rem, $font-weight-400, 0);
}

.explore-btn__content {
    @include text($circular-md, $french-rose, 1.4rem, $font-weight-400, 0);
}

@include tablet {
    .hero {
        gap: 4.3rem;

        &__img {
            height: auto;
            width: 100%;
            min-width: 50%;
            padding: 3rem 12rem;
        }

        &__heading {
            font-size: 5.6rem;
        }

        &__sub-heading {
            font-size: 1.8rem;
        }

        &__btns {
            flex-direction: row;
            width: auto;
            gap: 1.6rem;
        }

        &__triangles {
            display: block;
            top: 140rem;
        }

        &__content {
            width: 100%;
        }
    }
    .co-partners {
        padding: 6.4rem 16.4rem;
    }

    .actions {
        &__watch-demo {
            @include flex(center, center);
            gap: 1rem;
            flex-wrap: nowrap;
            text-wrap: nowrap;
        }
    }
}

@include desktop {
    .hero {
        padding: 15rem 15rem 0 15rem;
        flex-direction: row-reverse;

        &__img {
            height: auto;
            width: 100%;
            min-width: 50%;
            padding: 3rem 12rem;
        }

        &__heading {
            font-size: 5.6rem;
        }

        &__sub-heading {
            font-size: 1.8rem;
        }

        &__btns {
            flex-direction: row;
            width: auto;
            gap: 1.6rem;
        }

        &__content {
            // justify-content: left;
            align-items: baseline;
            gap: 4rem;
            text-align: left;
            width: 40%;
        }
        &__triangles {
            display: block;

            top: 70rem;
        }
    }

    .actions {
        &__watch-demo {
            @include flex(center, center);
            gap: 1.5rem;
            flex-wrap: nowrap;
            white-space: nowrap;
        }
    }
}
