@use '../abstracts/mixins/' as *;
@use '../abstracts/variables/' as *;
@use '../abstracts/utilities';

.services {
    position: relative;
    padding-top: 7.5rem;
    text-align: center;
    @include flex(
        $flex-direction: column,
        $flex-wrap: nowrap,
        $gap: 3.2rem,
        $justify-content: space-between
    );
    @include tablet {
        padding-top: 1rem;
    }
    @include desktop {
        flex-direction: row;
        text-align: left;
        padding-top: 2.5rem;
        justify-content: space-between;
        .services__card3 {
            display: none;
        }
    }
    &__content {
        @include flex($flex-direction: column, $gap: 1.8rem);
        @include desktop {
            align-items: baseline;
        }
    }
    &__card {
        text-align: center;
        @extend .card;
        @include flex(
            $flex-direction: column,
            $flex-wrap: nowrap,
            $gap: 3.2rem
        );
        padding: 3.2rem;
        width: 100%;
        flex-basis: 100%;
        align-self: stretch;

        @include tablet {
            width: fit-content;
            padding: 6.4rem;
            gap: 6.4rem;
            max-width: 28.8rem;
            max-height: 44.3rem;
        }
        @include desktop {
            width: fit-content;
            padding: 6.4rem;
            gap: 6.4rem;
            max-width: 38.6rem;
            max-height: 44.3rem;
        }
        @include desktop {
        }
        .card__title {
            font-size: 2.4rem;
            @include tablet {
                font-size: 2.8rem;
            }
            @include desktop {
                font-size: 2.8rem;
            }
        }
        .card__desc {
            font-size: 1.8rem;
        }
    }
    &__cards-container {
        width: 100%;
        @include flex($flex-direction: column, $gap: 1.6rem, $flex-wrap: wrap);
        @include tablet {
            flex-direction: row;
        }
        @include desktop {
            width: fit-content;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
}

.card__img {
    height: 6.4rem;
    width: 6.4rem;
}
