@use '../abstracts/' as *;
.button {
    cursor: pointer;
    &:focus-visible {
        outline: 2px solid $midnight-express-50;
    }
}

.primary-button {
    @extend .button;
    border-radius: 10rem;
    padding: 1.6rem 2.3rem;
}

.primary-button:hover {
    box-shadow: $box-shadow-hover-effect;
    transition: 0.4s;
}
