@use '../abstracts/' as *;
.button {
    cursor: pointer;
    &:focus-visible {
        outline: 2px solid $midnight-express-50;
    }
}

.primary-button {
    border-radius: 10rem;
    padding: 1.6rem 2.3rem;
    background-color: $slate-blue;
    color: $white;
    font-family: $circular-md;
    transition: 0.4s;
}
.secondary-button {
    border-radius: 10rem;
    padding: 1.6rem 2.3rem;
    background-color: $white;
    font-family: $circular-md;
    transition: 0.4s;
}

.primary-button:hover,
.secondary-button:hover {
    box-shadow: $box-shadow-hover-effect;
}
