@use '../abstracts/' as *;
.card {
    border-radius: 3.2rem;
    border: $grey-border;
    transition: 0.5s;
    text-align: center;
    line-height: normal;

    &:hover {
        box-shadow: $box-shadow-hover-effect;
    }

    &--lg {
        @include flex(
            $flex-direction: column,
            $justify-content: start,
            $flex-wrap: nowrap,
            $gap: 3.2rem
        );
        padding: 3.2rem;
        flex-basis: 100%;
        align-self: stretch;
        min-height: 27.9rem;
        flex: 1;
        flex-basis: 40%;
        @include tablet {
            padding: 6.4rem;
            gap: 6.4rem;
            max-width: 28.8rem;
            max-height: 44.3rem;
        }
        @include desktop {
            max-width: 38.6rem;
            min-height: 44.3rem;
        }
    }

    &--sm {
        @include flex(
            $flex-direction: column,
            $flex-wrap: nowrap,
            $justify-content: space-evenly,
            $gap: 1.6rem
        );
        min-height: 15.1rem;
        padding: 3.2rem 0;
        width: 100%;
        flex-basis: 100%;
        align-self: stretch;
        @include tablet {
            width: fit-content;
            max-width: 40rem;
        }
        @include desktop {
            max-width: 20.9rem;
        }
    }

    &--horizontal {
        width: 100%;
        max-height: 29rem;
        @include flex(
            $flex-direction: column,
            $align-items: flex start,
            $gap: 3.5rem
        );
        text-align: left;
        padding: 3.2rem;

        @include tablet {
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }
        @include desktop {
            flex-direction: row;
            justify-content: start;
            max-height: 16.4rem;
            align-items: center;
        }
    }
}
