@use '../abstracts/' as *;

.container {
    width: 100%;

    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include tablet {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }

    @include desktop {
        padding-left: 9.8rem;
        padding-right: 9.8rem;
    }
}
