$slate-blue: #5d50c6;
$french-rose: #f85e9f;
$outrageous-orange: #ff5722;
$kournikova-yellow: #facd49;
$white: #ffffff;
$black: #000000;
$midnight-express-50: #19182580;
$shadow-color-1: #0000001a;
$shadow-color-2: #00000017;
$shadow-color-3: #0000000d;
$shadow-color-4: #00000003;
$shadow-color-5: #00000000;
