$circular-md: 'circular-md';
$circular-bold: 'circular-bold';
$circular-book: 'circular-book';

$inter-extra-light: 'inter-extra-light';
$inter-light: 'inter-light';
$inter-regular: 'inter-regular';
$inter-thin: 'inter-thin';
