$path-circular-md: '/fonts/Circular/CircularStd-Medium.woff';
$path-circular-bold1: '/fonts/Circular/CircularStd-Bold.woff';
$path-circular-bold2: '/fonts/Circular/CircularStd-Black.woff';
$path-inter: '/fonts/Inter/Inter-Regular.woff';
