@use '../abstracts/variables/' as *;
@use '../abstracts/mixins/' as *;

a:hover,
a div:hover {
    color: black;
    transition: color 0.5s ease;
}

.blur-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index;
    backdrop-filter: none;
    transition: backdrop-filter 0.3s ease;
    pointer-events: none;
}

// mobile-first
.header {
    z-index: calc($z-index + 10);
    position: fixed;
    padding: 3.9rem 2rem;
    width: 100vw;
    @include flex(space-between, center);

    &__sidebar {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        top: 0;
        right: 0;
        z-index: calc($z-index + 5);
        height: 100vh;
        justify-content: center;
        gap: 5rem;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    &__placeholder {
        display: none;
    }

    &__nav-links,
    &__sidebar div {
        font-size: 1.4rem;
        font-family: circular-md;
        color: #19182580;
    }

    &__nav-links {
        width: 42.8rem;
        height: 1.7rem;
        display: none;
    }

    &__btns {
        display: none;
    }

    &__logo {
        font-size: 4rem;
        text-align: center;
        background: linear-gradient(to left, $purple, $pink);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include flex(center, center);
    }

    &__hamburger {
        font-size: 4rem;
        z-index: calc($z-index + 10);
        @include flex(center, center);
        transition: transform 0.3s ease;
        // transition: transform 0.3s ease;
    }

    .auth {
        font-family: circular-md;
        &__login {
            @include button(
                inherit,
                6.25rem,
                none,
                1.6rem 3.2rem,
                black,
                1.4rem
            );
        }

        &__signup {
            @include button(
                $purple,
                6.25rem,
                none,
                1.6rem 3.2rem,
                white,
                1.4rem
            );
        }
        &__signup:hover {
            background-color: $pink;
            transition: 500ms;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

// Desktop styles

@include desktop {
    .blur-overlay {
        display: none;
    }

    .header {
        padding: 3.9rem 6.2rem;

        &__sidebar {
            display: none;
        }

        &__logo {
            order: 1;
        }

        &__nav-links {
            font-size: 1.4rem;
            order: 2;
            @include flex(center, center);
            gap: 3rem;

            list-style-type: none;
        }

        &__hamburger {
            display: none;
        }

        &__btns {
            @include flex(center, center);
            order: 3;
            // right: 9.2rem;
        }
    }

    .auth {
        @include flex(center, center);
    }
}

@include tablet {
    .header {
        flex-wrap: nowrap;
        padding: 3.6rem 6.4rem;

        &__sidebar {
            width: 60%;
            left: 0;
            right: auto;
            gap: 8rem;
        }

        &__sidebar a:nth-child(5),
        &__sidebar a:nth-child(6) {
            display: none;
        }

        &__hamburger {
            order: 1;
            z-index: calc($z-index + 10);
            flex: 0 1 auto;
        }

        &__logo {
            order: 2;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            min-width: 0;
        }

        &__btns {
            order: 3;
            position: relative;
            //   font-size: 1.4rem;
            @include flex(center, center);
            flex: 0 1 auto;
        }

        &__nav-links {
            display: none;
        }
    }
}
