/* 
    Mixin for a button
    $border-radius - border-raidius property of border (default : 10rem)
    Note : 10rem is the most consistent border-radius of buttons in this website design
    $padding - padding for buttons
*/

@mixin button($border-radius: 10rem, $padding: 1.6rem 3.2rem) {
    border-radius: $border-radius;
    padding: $padding;
    color: $color;
    font-size: $font-size;
}
