@use '../abstracts/variables/' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
// Only for purpose of showcase of base setup

.heading {
    font-size: x-large;
    font-family: $circular-md;
}

.orange {
    color: $orange-color;
}

.sub-heading {
    font-family: $inter-regular;
    font-size: x-large;
}

.pink {
    color: $pink-color;
}

.yellow {
    color: $yellow-color;
}

.purple {
    color: $purple-color;
}
