@use '../abstracts/variables/' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

p,
h1,
h2,
h3,
span {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
